/**
 * Name: SoBar
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: 2015 PxO Ink. Most Rights Reserved.
 **/

.social {
	display: inline-block;
	width: 4.00rem;
	height: 4.00rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100.00%;
	text-indent: 100.00%;
	overflow: hidden;
	white-space: nowrap;
}

.social.micro {
	width: 2.50rem;
	height: 2.50rem;
}

.social.mega {
	width: 5.00rem;
	height: 5.00rem;
}

.social.share {
	background-image: url('../images/share.svg');
	background-size: 44.00%;
}

.social.email {
	background-image: url('../images/email.svg');
}

.social.facebook {
	background-image: url('../images/facebook.svg');
}

.social.twitter {
	background-image: url('../images/twitter.svg');
}

.social.github {
	background-image: url('../images/github.svg');
}

.social.tumblr {
	background-image: url('../images/tumblr.svg');
	background-size: 44.00%;
}

.social.pinterest {
	background-image: url('../images/pinterest.svg');
}

.social.soundcloud {
	background-image: url('../images/soundcloud.svg');
}

.social.beatport {
	background-image: url('../images/beatport.svg');
}

.social.itunes {
	background-image: url('../images/itunes.svg');
}

.social.linkedin {
	background-image: url('../images/linkedin.svg');
}