/* Cascading Style Sheet Created By: PxO Ink (http://www.pxoink.net/) */
/* Cascading Style Sheet Copyright 2013 © PxO Ink. Most rights reserved. */

.social-icon {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 24px;
	height: 24px;
	background: transparent;
	background-image: url('../images/social.png');
	background-repeat: no-repeat;
	text-align: left !important;
	text-indent: -655359px;
	}
	
.social-icon.facebook {
	background-position: 0px 0px;
	}
	
.social-icon.twitter {
	background-position: -24px 0px;
	}
	
.social-icon.youtube {
	background-position: -48px 0px;
	}
	
.social-icon.myspace {
	background-position: -72px 0px;
	}
	
.social-icon.soundcloud {
	background-position: -96px 0px;
	}
	
.social-icon.itunes {
	width: 48px;
	background-position: -120px 0px;
	}
	
.social-icon.beatport {
	background-position: -168px 0px;
	}
	
.social-icon.amazon {
	background-position: -192px 0px;
	}
	
.social-icon.pinterest {
	background-position: -216px 0px;
	}
	
.social-icon.reddit {
	background-position: -240px 0px;
	}
	
.social-icon.tumblr {
	background-position: -264px 0px;
	}
	
.social-icon.instagram {
	background-position: -288px 0px;
	}
	
.social-icon.rss {
	background-position: -312px 0px;
	}
	
.social-icon.email {
	background-position: -336px 0px;
	}
	
.social-icon.google {
	background-position: -360px 0px;
	}
	
.social-icon.github {
	background-position: -384px 0px;
	}